.footer {
  background: #000;
}

.footer__container {
  padding-top: 47px;
  padding-bottom: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social {
  width: 45px;
  height: 45px;
  display: inline-block;
  background-size: 45px;
  border-radius: 50%;
}

.footer__social:not(:last-child) {
  margin-right: 20px;
}

.footer-social_vk {
  background: url("../img/footer/vk.png") no-repeat center;
}

.footer-social_instagram {
  background: url("../img/footer/instagram.png") no-repeat center;
}

.footer-social_facebook {
  background: url("../img/footer/facebook.png") no-repeat center;
}
