/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style : normal;
  font-weight: 400;
  src        : local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style : normal;
  font-weight: 600;
  src        : local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style : normal;
  font-weight: 800;
  src        : local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



* {
  box-sizing: border-box;
}

.body {
  font-family: 'Montserrat', sans-serif;
  background : #E5E5E5;
  margin     : 0;
  min-width  : 320px;
}

.container {
  max-width  : 1310px;
  margin     : 0 auto;
  min-height : 50vw;
  display    : flex;
  align-items: center;
  padding    : 0 80px;
  justify-content: center;
}

.block-wrapper {
  display: flex;

}

.visual {
  background     : url('../img/circle.svg') 17% 80% no-repeat, url('../img/second-circle.svg') no-repeat -185% 50%, linear-gradient(180deg, #428A60 0%, #35734F 100%);
  box-shadow     : 0px 24px 80px rgba(0, 0, 0, 0.1);
  border-radius  : 1px;
  display        : flex;
  flex-direction : column;
  padding        : 40px;
  flex           : 1 0 50%;
  justify-content: space-between;

  &__text {
    font-weight: 600;
    font-size  : 18px;
    line-height: 130%;
    color      : #fff;
  }

  &__img {
    margin-top: 60px;
  }
}

.form-wrapper {
  flex          : 1 0 50%;
  display       : flex;
  flex-direction: column;
}

.form-title {
  font-weight: 800;
  font-size  : 30px;
  line-height: 130%;
  color      : #212121;
  text-align : center;
  padding    : 29px 129px;
  margin     : 0;
  background : #F8F8F8;
}

.form {
  padding         : 52px 123px 60px 117px;
  background-color: #fff;
  display         : flex;
  flex-direction  : column;

  &__tel-wrapper {
    display        : flex;
    justify-content: space-between;
  }

  &__label {
    display       : flex;
    flex-direction: column;
    font-weight   : 800;
    font-size     : 12px;
    line-height   : 130%;



  }

  &__name {
    color: #428A60;
  }

  &__input {
    width        : 100%;
    padding      : 16px 20px;
    background   : #F8F8F8;
    border       : 1px solid #E4E4E4;
    border-radius: 5px;
    font-weight  : 800;
    font-size    : 14px;
    line-height  : 130%;
    margin-bottom : 18px;

    &_width {
      width       : 59.5%;
      margin-right: 20px;
    }
  }

  &__text {
    text-transform: uppercase;
    margin-top    : 0;
    margin-bottom : 10;
    display: block;
    margin-bottom: 10px;
  }

  &__phone {}

  &__select {}



  &__btn {
    padding      : 12px;
    border-radius: 5px;
    color        : #fff;
    border       : none;
    margin-top   : 16px;
    cursor       : pointer;
    background   : #428A60 url('../img/arrow.svg') no-repeat 70% center;
    transition   : background 0.3s ease;

    &:hover {
      background: #128A60 url('../img/arrow.svg') no-repeat 72% center;
    }
  }
}

.choices {
  flex     : 1 0 auto;
  max-width: 116px;

  &__inner {
    padding: 12px;
  }
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 12px;
}

.choices__item[data-value="RU"] {
  background         : url('../img/ru.svg') no-repeat;
  background-position: 85% 50%;
  background-size    : 26px;
}


.choices__list--dropdown .choices__item--selectable {
  padding: 10px;
}

.choices[data-type*=select-one]:after {
  border       : none;
  border-bottom: 1px solid;
  border-right : 1px solid;
  width        : 5px;
  height       : 5px;
  transform    : rotate(45deg);
  top          : 23px;
}

.choices[data-type*=select-one].is-open:after {
  margin       : 0;
  border       : none;
  border-bottom: 1px solid;
  border-right : 1px solid;
  width        : 5px;
  height       : 5px;
  transform    : rotate(225deg);
}


.trusted-wrapper {
  display: none;
}


@media(max-width:1200px) {
  .block-wrapper {
    flex-direction: column;

  }

  .container {
    padding: 0 15px;
  }
}

@media(max-width:756px) {
  .container {
    padding: 0;
  }

  .visual {
    flex-direction: row;
    position      : relative;

    &__text_reduslim {
      position: absolute;
    }

    &__text_eco {
      position: absolute;
      right   : 50px;

    }

    &__img {}
  }
}

@media(max-width:576px) {
  .body {
    background: #fff;
  }

  .container {
    justify-content: center;
  }

  .visual {
    background-color   : #fff;
    background-image   : url('../img/circle.svg');
    background-position: center bottom;
    background-size    : 202px;
    box-shadow         : none;
    padding            : 40px 20px;

    &__img {
      background : url('../img/reduslim-mobile.png');
      width      : 223px;
      height     : 122px;
      align-self : center;
      margin-top : 85px;
      margin-left: 40px;
    }

    &__text {
      color: #212121;

      &_eco {
        right: 20px;
      }
    }
  }

  .form-title {
    padding   : 0;
    background: none;
    max-width : 280px;
    align-self: center;
    margin-top: 25px;
    font-size : 28px;
  }

  .form-wrapper {
    background: #fff;
  }

  .form {
    padding    : 20px;
    padding-top: 35px;

    &__input {
      padding: 15px 16px;
    }

    &__btn {
      margin-top: 9px;
      &:hover {
        background: #428A60 url('../img/arrow.svg') no-repeat 70% center;
      }
    }
  }

  .choices__inner {
    padding: 10px;
  }

  .choices__list--single {
    display: inline-block;
    padding: 4px 10px 4px 4px;
    width  : 100%;
  }

  .choices__item[data-value="RU"] {
    background-size: 23px;
  }
  .trusted-wrapper {
    width: 100%;
    display: block;
    text-align : center;
    background: #F8F8F8;
    padding: 11px 0;
  }
  .trusted {
    font-weight: 800;
    font-size  : 14px;
    line-height: 130%;
    color: #212121;
    word-spacing: 40px;
    background: url('../img/lock.svg') no-repeat 51% top;
    margin: 0;
  }

}
