@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --second-text-color: #75808c;
}

.body {
  font-family: "Gilroy", sans-serif;
  background-color: #30343c;
  margin: 0;
  min-width: 360px;
}

.container {
  max-width: 1248px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 38px;
  line-height: 46px;
  color: var(--text-color);
}

.card-match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #363b46;
  background-image: url("../img/live/VS.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 19px 0;
}

.card-match__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% / 3);
          flex: 1 0 calc(100% / 3);
}

.card-match__team:hover .card-match__vue::after {
  opacity: 1;
}

.card-match__crown {
  background: url("../img/live/crown.svg") no-repeat top center;
  width: 26px;
  height: 26px;
  position: absolute;
  right: 33%;
}

.card-match__score {
  color: var(--text-color);
  padding: 8.5px 16px;
  background: #4384ff;
  border-radius: 40px;
  -webkit-box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
          box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
}

.card-match__hot {
  position: relative;
}

.card-match__hot::before {
  content: "";
  position: absolute;
  background: url("../img/live/fire.svg") no-repeat;
  width: 100px;
  height: 100px;
  top: -40px;
}

.card-match__team-link {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.card-match__vue::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 71, 84, 0.7);
  background-image: url("../img/live/pluse.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.card-match__img {
  width: 68px;
  height: 68px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-match__team-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  margin: 12px 0;
}

.card-match__procent {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  padding: 5px 15px;
  border-radius: 6px;
}

.card-match__procent_green {
  background-color: rgba(110, 199, 96, 0.4);
}

.card-match__procent_red {
  background-color: rgba(225, 83, 83, 0.4);
}

.card-match__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% / 3);
          flex: 1 0 calc(100% / 3);
}

.card-match__discription-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
  margin: 0;
  padding-left: 25px;
  background: url("../img/header/csgo.png") no-repeat left;
  background-size: contain;
}

.card-match__discription-live {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
  padding-left: 20px;
  margin-right: 10px;
  background: url("../img/live/live.png") no-repeat left center;
  background-size: 14px;
}

.card-match__discription-voz {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #75808c;
  display: inline-block;
  margin: 10px 0;
}

.card-match__discription-time {
  color: #75808c;
  margin-bottom: 10px;
}

.card-match__team-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% / 3);
          flex: 1 0 calc(100% / 3);
}

.card-match__discription-btn {
  display: inline-block;
  min-width: 125px;
  height: 40px;
  border-radius: 40px;
  background: none;
  color: #4384ff;
  cursor: pointer;
  padding: 0;
  height: 0;
  overflow: hidden;
  border: none;
  position: relative;
  -webkit-box-shadow: 0px 0px 0px 1px #4384ff inset;
          box-shadow: 0px 0px 0px 1px #4384ff inset;
  -webkit-transition: height 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  transition: height 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.card-match__discription-btn:hover {
  color: var(--text-color);
  background-color: #4384ff;
}

.burger-menu {
  display: none;
}

.burger-menu__btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
  padding: 15px 0;
}

.burger-menu__btns-wrapper_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-menu__btn {
  border-radius: 40px;
}

.burger-menu__enter {
  padding: 12px 30px;
  color: #fff;
  background: #4384ff;
  -webkit-box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
          box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
  border: 1px solid #4384ff;
}

.burger-menu__registration {
  padding: 12px 19px;
  border: 1px solid #4384ff;
  color: #4384ff;
  background: none;
}

.logo-link {
  text-decoration: none;
  padding: 35px 0;
}

.logo {
  color: var(--text-color);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.logo span {
  color: #4384ff;
  text-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
}

.header-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__left-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__burger {
  padding: 0;
  background: none;
  border: none;
  height: 40px;
  display: none;
  margin-right: 20px;
}

.header-top__burger-icon {
  height: inherit;
}

.header-top__burger-rect-one {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header-top__burger-rect-three {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header-top__burger.header-top__burger_active > .header-top__burger-icon .header-top__burger-rect-two {
  display: none;
}

.header-top__burger.header-top__burger_active > .header-top__burger-icon .header-top__burger-rect-one {
  -webkit-transform: rotate(45deg) translate(5px, -5px);
          transform: rotate(45deg) translate(5px, -5px);
}

.header-top__burger.header-top__burger_active > .header-top__burger-icon .header-top__burger-rect-three {
  -webkit-transform: rotate(315deg) translate(-15px, 0px);
          transform: rotate(315deg) translate(-15px, 0px);
}

.header-top__btn-wrapper {
  padding: 22px 0;
  display: none;
}

.header-top__btn-wrapper_active {
  display: block;
}

.header-top__btn {
  padding: 19.5px 33.5px;
  color: var(--text-color);
  border-radius: 40px;
  background: none;
  border: 1px solid #4384ff;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
}

.header-top__btn_text-color {
  color: #4384ff;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.header-top__btn_text-color:hover {
  background-color: #4384ff;
  color: var(--text-color);
}

.header-top__btn_bg-color {
  background-color: #4384ff;
  -webkit-box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
          box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
  margin-right: 18px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header-top__btn_bg-color:hover {
  background-color: #3771de;
}

.header-nav__list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item {
  margin-right: 3vw;
}

.header-nav__link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header-nav__link:hover {
  color: #4384ff;
}

.header-nav__link-menu {
  position: relative;
  padding-right: 12px;
  padding-bottom: 20px;
}

.header-nav__link-menu::before {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  height: 4px;
  width: 4px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.header-nav__link-menu:hover + .header-statistic-menu {
  display: block;
}

.header-statistic-menu:hover {
  display: block;
}

.header-nav__link-menu:hover::before {
  border-color: #4384ff;
}

.header-statistic-menu {
  display: none;
  list-style: none;
  position: absolute;
  z-index: 1;
  border-radius: 20px;
  top: 80px;
  right: 54%;
  margin: 0;
  padding: 0;
  background-color: #3a3f49;
}

.header-statistic-menu__item {
  padding: 21px 77px 21px 20px;
}

.header-statistic-menu__item:not(:last-child) {
  border-bottom: 1px solid #414754;
}

.header-statistic-menu__link {
  color: var(--text-color);
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header-statistic-menu__link:hover {
  color: #4384ff;
}

.header-bottom {
  background: #363b46;
}

.header-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom__wrapper {
  position: relative;
}

.header-bottom__fieldset {
  padding: 16px 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.header-bottom__legend {
  padding: 0;
  margin: 0;
  float: left;
  color: var(--second-text-color);
  margin-right: 4vw;
}

.header-bottom__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  cursor: pointer;
  margin-right: 2vw;
}

.header-bottom__input {
  display: none;
}

.header-bottom__input:checked + .header-bottom__checkbox {
  opacity: 1;
}

.header-bottom__input:checked ~ .header-bottom__text {
  opacity: 1;
}

.header-bottom__text {
  opacity: 0.2;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header-bottom__checkbox {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 10px;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header-bottom__checkbox_csgo {
  background: url("../img/header/csgo.png") no-repeat center center;
}

.header-bottom__checkbox_dota {
  background: url("../img/header/dota2.png") no-repeat center center;
}

.header-bottom__checkbox_lol {
  background: url("../img/header/lol.png") no-repeat center center;
}

.header-bottom__checkbox_valorant {
  background: url("../img/header/valorant.png") no-repeat center center;
}

.header-bottom__others-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #75808c;
  padding: 10px 29px 10px 55px;
  border: 1px solid #75808c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 40px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header-bottom__others-link:hover {
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-bottom__others-link::before {
  content: "";
  background: url("../img/header/dot.svg") no-repeat center;
  position: absolute;
  width: 30px;
  height: 5px;
  top: 45%;
  left: 10%;
}

.header-bottom__others-link:hover + .header-bottom__others-form {
  display: block;
}

.header-bottom__others-form {
  padding-top: 20px;
  position: absolute;
  top: 25px;
  left: -55px;
  display: none;
}

.header-bottom__others-form:hover {
  display: block;
}

.header-bottom__others-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 238px;
  background: #3a3f49;
  border-radius: 20px;
}

.header-bottom__others-item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom__others-item:not(:last-child) {
  border-bottom: 1px solid #414754;
}

.header-bottom__others-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  padding-left: 25px;
}

.header-bottom__others-title_csgo {
  background: url("../img/header/csgo.png") no-repeat left center;
  background-size: 20px;
}

.header-bottom__others-title_dota {
  background: url("../img/header/dota2.png") no-repeat left center;
  background-size: 20px;
}

.header-bottom__others-label {
  cursor: pointer;
}

.header-bottom__others-input {
  display: none;
}

.header-bottom__others-input:checked + .header-bottom__others-checkbox {
  background-color: #4384ff;
}

.header-bottom__others-input:checked + .header-bottom__others-checkbox::before {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

.header-bottom__others-checkbox {
  display: inline-block;
  width: 34px;
  height: 14px;
  border-radius: 45px;
  background-color: #414754;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  position: relative;
}

.header-bottom__others-checkbox::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: #fff;
  top: -2px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header-forms {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(19, 20, 22, 0.8);
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.header-forms__wrapper {
  padding: 30px;
  background-color: #363b46;
  border-radius: 20px;
}

.header-forms.enter-form_acive {
  visibility: visible;
  opacity: 1;
}

.header-forms.registration-form_active {
  visibility: visible;
  opacity: 1;
}

.header-forms.recovery-form_active {
  visibility: visible;
  opacity: 1;
}

.header-forms__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.header-forms__title {
  font-size: 24px;
  line-height: 29px;
  color: var(--text-color);
}

.header-forms__close {
  background: none;
  border: none;
  cursor: pointer;
}

.header-forms__close-icon rect {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.header-forms__close:hover .header-forms__close-icon rect {
  fill: #fff;
}

.header-forms__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-forms__input {
  padding: 20px;
  width: 387px;
  margin-bottom: 15px;
  background: #414754;
  border: none;
  border-radius: 47px;
  color: var(--text-color);
}

.header-forms__input:focus {
  outline: none;
}

.header-forms__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4384ff;
  margin-top: 5px;
  margin-bottom: 20px;
  max-width: 150px;
}

.header-forms__btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-forms__btn {
  padding: 19.5px 71px;
  background-color: #4384ff;
  -webkit-box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
          box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
  border-radius: 40px;
  color: var(--text-color);
  border: 1px solid #4384ff;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.header-forms__btn:hover {
  background-color: #3771de;
  border-color: #3771de;
}

.header-forms__btn_inherit {
  background-color: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #4384ff;
  -webkit-transition: color0 0.3s ease;
  transition: color0 0.3s ease;
}

.header-forms__btn_inherit:hover {
  background-color: #4384ff;
  border-color: #4384ff;
  color: var(--text-color);
}

.header-forms__btn-registration {
  padding: 19.5px 37px;
  background: none;
  color: #4384ff;
  border: 1px solid #4384ff;
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-forms__btn-registration:hover {
  background-color: #4384ff;
  color: var(--text-color);
}

.header-forms__btn-registration_blue {
  background-color: #4384ff;
  -webkit-box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
          box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
  color: var(--text-color);
}

.header-forms__btn-registration_blue:hover {
  background-color: #3771de;
  border-color: #3771de;
}

.header-forms__text {
  max-width: 365px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #75808c;
}

.header-forms__agreement {
  text-decoration: none;
  color: #4384ff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header-forms__agreement:hover {
  color: #3771de;
}

.g-recaptcha {
  margin-top: 5px;
  margin-bottom: 20px;
}

.authorized {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.authorized_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lang {
  position: relative;
  margin-right: 30px;
}

.lang__btn-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3a3f49;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  top: 45px;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.lang__btn-list:hover {
  opacity: 1;
  visibility: visible;
}

.lang__icon-container {
  padding-right: 13px;
  position: relative;
}

.lang__icon-container::before {
  content: "";
  width: 60px;
  height: 45px;
  position: absolute;
  left: -15px;
}

.lang__icon-container::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #75808c;
  border-right: 1px solid #75808c;
  width: 4px;
  height: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
  top: 9px;
}

.lang__icon-container:hover + .lang__btn-list {
  opacity: 1;
  visibility: visible;
}

.lang__icon-russian {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("../img/header/russia.png");
  display: none;
}

.lang__icon-english {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("../img/header/uk.png");
  display: none;
}

.lang__btn-item {
  padding: 20px 50px 20px 20px;
}

.lang__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  background: none;
  border: none;
  padding-left: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.lang__btn:hover {
  color: #4384ff;
}

.lang__btn_english {
  background: url("../img/header/uk.png") no-repeat left center;
}

.lang__btn_russian {
  background: url("../img/header/russia.png") no-repeat left center;
}

.lang__icon_active {
  display: block;
}

.notification {
  cursor: pointer;
  margin-right: 30px;
  position: relative;
}

.notification__icon {
  background: url("../img/header/bell.png") no-repeat center;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.notification__icon::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4384ff;
  border: 2px solid #30343c;
  position: absolute;
  top: -4px;
  right: -4px;
}

.notification__icon::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 60px;
}

.notification__icon:hover + .notification__list {
  opacity: 1;
  visibility: visible;
}

.notification__icon-number {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color);
  position: absolute;
  right: 4px;
  top: -2px;
}

.notification__list {
  opacity: 0;
  visibility: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: -70px;
  bottom: -220px;
  z-index: 10;
  background: #3a3f49;
  border-radius: 20px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.notification__list:hover {
  opacity: 1;
  visibility: visible;
}

.notification__item {
  padding: 20px;
}

.notification__item:not(:last-child) {
  border-bottom: 1px solid #414754;
}

.notification__text {
  margin-top: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 256px;
  color: var(--text-color);
}

.notification__data-wrapper {
  color: #75808c;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.profile::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: -20px;
}

.profile:hover .profile__list {
  opacity: 1;
  visibility: visible;
}

.profile__img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.profile__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile__login {
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 5px;
}

.profile__balance-wrapper {
  color: #75808c;
}

.profile__balance {
  color: var(--text-color);
}

.profile__list {
  list-style: none;
  padding: 0;
  background: #3a3f49;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  top: 50px;
  left: -25px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.profile__list:hover {
  opacity: 1;
  visibility: visible;
}

.profile__item {
  padding: 20px 5vw 20px 20px;
}

.profile__item:not(:last-child) {
  border-bottom: 1px solid #414754;
}

.profile__inscription {
  display: block;
  color: #75808c;
}

.profile__link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  display: inline-block;
}

.profile__link:hover {
  color: #4384ff;
}

.coins-icon {
  padding-right: 5px;
}

.coins-icon::after {
  content: "";
  background: url("../img/header/coins.svg") no-repeat center right;
  width: 18px;
  height: 18px;
  display: inline-block;
  padding-right: 5px;
  background-size: contain;
}

.burger-menu__profile {
  display: none;
  padding: 10px;
  border-top: 1px solid #414754;
}

.burger-menu__profile_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.live__container {
  padding-top: 73px;
}

.live__title {
  background: url("../img/live/live.png") no-repeat left center;
  padding-left: 30px;
  margin-bottom: 45px;
}

.live__list {
  list-style: none;
  padding: 0;
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.live__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 2);
          flex: 0 0 calc(100% / 2);
  padding: 0 15px;
}

.live__card-match {
  margin-bottom: 30px;
}

.live__card-match:hover .card-match__discription-btn {
  height: 44px;
}

.title {
  font-size: 38px;
  line-height: 46px;
  color: var(--text-color);
}

.coins-modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(19, 20, 22, 0.8);
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.coins-modal_active {
  visibility: visible;
  opacity: 1;
}

.coins-modal__wrapper {
  border-radius: 20px;
  background-color: #363b46;
  padding: 50px 25vw 50px 50px;
  position: relative;
}

.coins-modal__wrapper::before {
  content: "";
  width: 370px;
  height: 353px;
  position: absolute;
  background-image: url("../img/live/cs.png");
  background-repeat: no-repeat;
  right: 0%;
  top: -67px;
}

.coins-modal__text {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: var(--text-color);
  margin: 0;
}

.coins-modal__discription {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #75808c;
  max-width: 552px;
}

.coins-modal__btn {
  padding: 20px 44.5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  background: #4384ff;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.forthcoming__container {
  position: relative;
  padding-top: 43px;
}

.forthcoming__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forthcoming__title {
  margin-bottom: 50px;
}

.forthcoming__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #414754;
  padding: 18px 9vw 18px 20px;
  border-radius: 47px;
}

.forthcoming__input {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #414754;
  border: none;
  color: var(--text-color);
}

.forthcoming__input::-webkit-input-placeholder {
  color: #75808c;
}

.forthcoming__input:-ms-input-placeholder {
  color: #75808c;
}

.forthcoming__input::-ms-input-placeholder {
  color: #75808c;
}

.forthcoming__input::placeholder {
  color: #75808c;
}

.forthcoming__btn {
  width: 24px;
  height: 24px;
  background-color: #414754;
  background: url("../img/forthcoming/search.svg") no-repeat center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border: none;
}

.forthcoming__swiper-container {
  min-width: 0;
  max-width: 1218px;
  height: 830px;
}

.forthcoming__swiper-slide {
  height: calc((100% / 4) - 30px);
}

.forthcoming__swiper-button-prev,
.forthcoming__swiper-button-next {
  top: 100%;
}

.forthcoming__swiper-button-prev {
  left: 45%;
  width: 35px;
  height: 35px;
  border: 1px solid #4384ff;
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.forthcoming__swiper-button-prev:hover {
  background: #4384ff;
}

.forthcoming__swiper-button-prev::after {
  content: "";
  width: 7px;
  height: 7px;
  border-right: 3px solid #4384ff;
  border-bottom: 3px solid #4384ff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.forthcoming__swiper-button-prev:hover::after {
  border-color: #fff;
}

.forthcoming__swiper-button-next {
  right: 45%;
  width: 35px;
  height: 35px;
  border: 1px solid #4384ff;
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.forthcoming__swiper-button-next:hover {
  background: #4384ff;
}

.forthcoming__swiper-button-next::after {
  content: "";
  width: 7px;
  height: 7px;
  border-right: 3px solid #4384ff;
  border-bottom: 3px solid #4384ff;
  position: absolute;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.forthcoming__swiper-button-next:hover::after {
  border-color: #fff;
}

.forthcoming__swiper-pagination {
  bottom: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 48.5%;
  color: var(--text-color);
}

.forthcoming__swiper-elements {
  margin-top: 20px;
  position: relative;
}

.past__container {
  position: relative;
  padding-top: 75px;
  padding-bottom: 150px;
}

.past__title {
  margin-bottom: 49px;
}

.past__swiper-container {
  max-width: 1218px;
  height: 420px;
}

.past__swiper-slide {
  height: calc((100% / 2) - 30px);
}

.past__swiper-button-prev, .past__swiper-button-next {
  top: 100%;
}

.past__swiper-button-prev {
  left: 45%;
  width: 35px;
  height: 35px;
  border: 1px solid #4384ff;
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.past__swiper-button-prev:hover {
  background: #4384ff;
}

.past__swiper-button-prev::after {
  content: "";
  width: 7px;
  height: 7px;
  border-right: 3px solid #4384ff;
  border-bottom: 3px solid #4384ff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.past__swiper-button-prev:hover::after {
  border-color: #fff;
}

.past__swiper-button-next {
  right: 45%;
  width: 35px;
  height: 35px;
  border: 1px solid #4384ff;
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.past__swiper-button-next:hover {
  background: #4384ff;
}

.past__swiper-button-next::after {
  content: "";
  width: 7px;
  height: 7px;
  border-right: 3px solid #4384ff;
  border-bottom: 3px solid #4384ff;
  position: absolute;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.past__swiper-button-next:hover::after {
  border-color: #fff;
}

.past__swiper-pagination {
  bottom: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 48.5%;
  color: var(--text-color);
}

.past__swiper-elements {
  margin-top: 20px;
  position: relative;
}

.footer {
  background-color: #363b46;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item:not(:last-child) {
  margin-right: 3vw;
}

.footer__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: var(--text-color);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #4384ff;
}

.footer__year {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #75808c;
}

@media (min-width: 1400px) {
  .header-nav__item {
    margin-right: 35px;
  }
  .header-bottom__legend {
    margin-right: 74px;
  }
  .header-bottom__label {
    margin-right: 38px;
  }
  .bets__event-name {
    max-width: 406px !important;
  }
}

@media (max-width: 992px) {
  .header {
    background: #363b46;
  }
  .header-bottom {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header-top__left-wrapper {
    position: relative;
  }
  .header-top__burger {
    position: relative;
    z-index: 100;
    display: block;
  }
  .header-top__logo-link {
    position: relative;
    z-index: 100;
  }
  .header-top__burger.header-top__burger_active + .burger-menu {
    display: block;
  }
  .body_lock {
    overflow: hidden;
  }
  .burger-menu {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 20, 22, 0.8);
    overflow-y: hidden;
  }
  .burger-menu__wrapper {
    height: 100%;
    background: #3a3f49;
    max-width: 320px;
    overflow-y: auto;
    padding-top: 105px;
  }
  .burger-menu__exit {
    display: none;
  }
  .burger-menu__exit_active {
    display: block;
  }
  .burger-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .burger-menu__item {
    padding: 20px 1px 20px 20px;
    border-bottom: 1px solid #414754;
  }
  .burger-menu__item:first-child {
    border-top: 1px solid #414754;
  }
  .burger-menu__link {
    text-decoration: none;
    color: var(--text-color);
  }
  .live__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0;
  }
  .live__list {
    margin: 0;
  }
  .coins-modal__wrapper {
    padding: 50px;
  }
  .coins-modal__wrapper::before {
    display: none;
  }
  .coins-modal__text {
    max-width: 437px;
  }
  .coins-modal__discription {
    max-width: 503px;
  }
  .forthcoming__container {
    padding-top: 0px;
  }
  .forthcoming__title {
    margin-top: 43px;
    margin-bottom: 37px;
  }
  .forthcoming__swiper-elements {
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 42px;
    right: 75px;
  }
  .forthcoming__swiper-slide {
    height: calc((100% / 5) - 30px);
  }
  .forthcoming__swiper-button-next {
    right: -25%;
  }
  .forthcoming__swiper-button-prev {
    left: 7%;
  }
  .forthcoming__swiper-container {
    height: 1000px;
  }
  .forthcoming__swiper-pagination {
    bottom: -2px;
  }
  .forthcoming__form {
    display: none;
  }
  .past__container {
    padding-top: 18px;
    padding-bottom: 100px;
  }
  .past__title {
    margin-bottom: 33px;
  }
  .past__swiper-slide {
    height: calc((100% / 4) - 30px);
  }
  .past__swiper-container {
    height: 800px;
  }
  .past__swiper-elements {
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 36px;
    right: 75px;
  }
  .past__swiper-button-next {
    right: -25%;
  }
  .past__swiper-button-prev {
    left: 7%;
  }
  .past__swiper-pagination {
    bottom: -2px;
  }
  .footer {
    background-color: #363b46;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer__logo-link {
    padding-bottom: 30px;
    padding-top: 30px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__year {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 110%;
    padding: 42px 15px;
    background: #3a3f49;
    position: relative;
    margin: 0 -15px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .header-forms__title {
    font-size: 20px;
  }
  .card-match__discription-btn {
    height: 40px;
  }
  .live__title {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .live__card-match {
    margin-bottom: 20px;
  }
  .card-match {
    padding: 18px 0;
  }
}

@media (max-width: 576px) {
  .header-top__btn-registration {
    display: none;
  }
  .logo-link {
    padding: 20px 0;
  }
  .burger-menu__btns-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0;
    border-top: 1px solid #414754;
    display: none;
  }
  .burger-menu__btns-wrapper_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-top__btn_bg-color {
    padding: 10.5px 29.5px;
    margin: 0;
    font-size: 13px;
    line-height: 15px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .live__container {
    padding-top: 38px;
  }
  .card-match {
    padding: 12px 0;
    border-radius: 10px;
  }
  .card-match__discription-btn {
    height: 40px;
  }
  .card-match__procent {
    padding: 2px 6px;
    font-size: 13px;
    line-height: 15px;
  }
  .card-match__team-title {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 4px;
  }
  .card-match__img {
    width: 40px;
    height: 40px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .card-match__hot::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    background-size: contain;
  }
  .card-match__crown {
    width: 16px;
    height: 16px;
    background-size: contain;
  }
  .card-match__team-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .card-match__discription-title {
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
  }
  .card-match__discription-live {
    font-size: 13px;
    line-height: 16px;
  }
  .card-match__discription-voz {
    font-size: 13px;
    line-height: 15px;
  }
  .card-match__discription-time {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 3px;
  }
  .card-match__discription-btn {
    display: none;
  }
  .card-match__score {
    padding: 2.5px 9px;
    font-size: 13px;
    line-height: 16px;
  }
  .live__title {
    margin-top: 0;
    margin-bottom: 22px;
  }
  .live__card-match {
    margin-bottom: 13px;
  }
  .forthcoming__swiper-container {
    height: 606px;
  }
  .forthcoming__title {
    margin-top: 26px;
    margin-bottom: 20px;
  }
  .forthcoming__swiper-pagination {
    font-size: 13px;
    line-height: 15px;
    bottom: 4px;
  }
  .forthcoming__swiper-button-next {
    width: 25px;
    height: 25px;
    right: -15px;
  }
  .forthcoming__swiper-button-next::after {
    border-bottom: 2px solid #4384ff;
    border-right: 2px solid #4384ff;
  }
  .forthcoming__swiper-button-prev {
    width: 25px;
    height: 25px;
    left: 15px;
  }
  .forthcoming__swiper-button-prev::after {
    border-bottom: 2px solid #4384ff;
    border-right: 2px solid #4384ff;
  }
  .forthcoming__swiper-elements {
    top: 10px;
    right: 25px;
  }
  .past__swiper-container {
    height: 765px;
  }
  .past__title {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .past__discription-title {
    margin: 0;
  }
  .past__discription-voz {
    margin: 5px 0;
  }
  .past__discription-time {
    margin-bottom: 10px;
  }
  .past__swiper-container {
    height: 486px;
  }
  .past__container {
    padding-bottom: 35px;
  }
  .past__swiper-elements {
    top: 10px;
    right: 25px;
  }
  .past__swiper-pagination {
    font-size: 13px;
    line-height: 15px;
    bottom: 2px;
    left: 52px;
  }
  .past__swiper-button-prev {
    width: 25px;
    height: 25px;
    left: 15px;
  }
  .past__swiper-button-prev::after {
    border-right: 2px solid #4384ff;
    border-bottom: 2px solid #4384ff;
  }
  .past__swiper-button-next {
    width: 25px;
    height: 25px;
    right: -15px;
  }
  .past__swiper-button-next::after {
    border-right: 2px solid #4384ff;
    border-bottom: 2px solid #4384ff;
  }
  .logo {
    font-size: 24px;
  }
  .footer__wrapper {
    margin: -10px;
  }
  .footer__year {
    font-size: 13px;
    line-height: 15px;
  }
  .footer__link {
    font-size: 13px;
    line-height: 15px;
  }
  .footer__item {
    text-align: center;
  }
  .title {
    font-size: 20px;
    line-height: 24px;
  }
  .header-forms__wrapper {
    padding: 20px;
  }
  .header-forms__input {
    width: 301px;
    border-radius: 40px;
  }
  .header-forms__link {
    font-size: 13px;
  }
  .header-forms__btn {
    font-size: 13px;
    padding: 12px 57.5px;
  }
  .header-forms__btn-registration {
    font-size: 13px;
    padding: 12px 33px;
  }
  .header-forms__agreement {
    max-width: 295px;
    font-size: 10px;
  }
  .header-forms__text {
    max-width: 301px;
  }
  .profile__text-wrapper {
    display: none;
  }
  .profile__text-wrapper_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .profile__link {
    font-size: 13px;
  }
  .lang__btn {
    font-size: 13px;
    line-height: 15px;
  }
  .lang {
    margin-right: 15px;
  }
  .notification {
    margin-right: 15px;
  }
  .notification__text {
    font-size: 13px;
  }
  .notification__list {
    left: -185px;
  }
  .profile:hover .profile__list {
    display: none;
  }
  .profile:hover .profile__list:hover {
    display: none;
  }
  .coins-modal__wrapper {
    padding: 20px;
  }
  .coins-modal__text {
    font-size: 20px;
    line-height: 24px;
    max-width: 247px;
  }
  .coins-modal__discription {
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    max-width: 292px;
  }
  .coins-modal__btn {
    font-size: 13px;
    line-height: 16px;
    padding: 12px 28px;
  }
}

.personal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.personal__title {
  margin-top: 100px;
  margin-bottom: 45px;
}

.personal__card-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(34.6% - 15px);
          flex: 0 1 calc(34.6% - 15px);
  padding: 0 15px;
}

.personal__stat-name {
  color: #75808c;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.personal__stat {
  padding-left: 25px;
  color: var(--text-color);
}

.personal__stat_coins {
  background: url("../../img/header/coins.svg") no-repeat 0 center;
  background-size: contain;
}

.personal-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(68.4% - 15px);
          flex: 0 1 calc(68.4% - 15px);
  padding: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personal-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personal-card__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-card__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-card__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 40px 30px 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #363b46;
}

.personal-card__img {
  width: 124px;
  height: 124px;
  margin-bottom: 30px;
}

.personal-card__login {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.personal-card__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #75808c;
  text-decoration: none;
  margin-bottom: 30px;
}

.personal-card__progress-wrapper {
  padding-left: 50px;
  background: url("../../img/personal-area/ranks/rank-five.png") no-repeat center left;
}

.personal-card__exp-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.personal-card__lvl {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

.personal-card__exp {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--second-text-color);
}

.personal-card__progressbar {
  height: 6px;
  width: 247px;
  background: #414754;
  border-radius: 55px;
}

.personal-card__prodressbar-exp {
  width: 25%;
  height: 100%;
  background: #4384ff;
  border-radius: 55px;
}

.personal-card__list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #363b46;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 30px;
}

.personal-card__item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #414754;
}

.personal-card__customization {
  display: inline-block;
  padding: 19.5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  background: #4384ff;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  -webkit-box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
          box-shadow: 0px 3px 20px rgba(62, 163, 255, 0.5);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.personal-card__customization:hover {
  background: #3771de;
}

.personal-blocks {
  margin-bottom: 150px;
}

.statistic {
  padding: 30px 30px 1px 30px;
  background: #363b46;
  border-radius: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-bottom: 30px;
}

.statistic__list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistic__item-wrapper {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #3a3f49;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistic__item {
  padding: 0 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc((100% - 10px) / 3);
          flex: 0 1 calc((100% - 10px) / 3);
}

.statistic__numbers {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.statistic__numbers_width {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.statistic__progressbar-wrapper {
  width: 100%;
  height: 6px;
  border-radius: 40px;
  background: #e15353;
}

.statistic__progressbar {
  width: 53%;
  height: 100%;
  border-radius: 40px;
  background: #6ec760;
}

.statistic__name {
  margin-bottom: 10px;
}

.personal-blocks-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-color);
  margin-top: 10px;
}

.bets {
  background: #363b46;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}

.bets__process {
  padding: 5px 10px;
  color: var(--text-color);
  background: rgba(117, 128, 140, 0.4);
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.bets__list {
  list-style: none;
  padding: 0;
}

.bets__item {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3a3f49;
  border-radius: 10px;
}

.bets__item:not(:last-child) {
  margin-bottom: 10px;
}

.bets__teams-wrapper {
  margin-right: 15px;
  padding-left: 32px;
}

.bets__teams-wrapper_cs {
  background: url("../../img/header/csgo.png") no-repeat left center;
  background-size: 12px;
}

.bets__teams-wrapper_dota {
  background: url("../../img/header/dota2.png") no-repeat left center;
  background-size: 12px;
}

.bets__team {
  width: 34px;
  height: 34px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bets__link {
  text-decoration: none;
  color: var(--text-color);
}

.bets__event-name {
  max-width: 20vw;
  margin-right: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.bets__event-time {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #75808c;
}

.bets__lose {
  background: rgba(225, 83, 83, 0.4);
}

.bets__result {
  padding: 5px 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  border-radius: 6px;
  margin-right: 8px;
  display: inline-block;
  min-width: 65px;
}

.bets__coins {
  color: var(--text-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  padding-right: 25px;
  background: url("../../img/header/coins.svg") no-repeat center right;
  background-size: 18px;
}

.bets__win {
  background: rgba(110, 199, 96, 0.4);
}

.achievements {
  padding: 30px;
  background: #363b46;
  border-radius: 20px;
}

.achievements__list {
  padding: 0;
  list-style: none;
}

.achievements__item {
  position: relative;
}

.achievements__item::before {
  content: "";
  background-image: url("../../img/personal-area/medal.png");
  position: absolute;
  z-index: 2;
  width: 34px;
  height: 34px;
  left: 20px;
  top: 30%;
}

.achievements__item_done {
  position: relative;
}

.achievements__item_done:after {
  content: "";
  background-image: url("../../img/personal-area/done.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  top: 35%;
}

.achievements__item:not(:last-child) {
  margin-bottom: 10px;
}

.achievements__pogress-wrapper {
  height: 75px;
  background: #3a3f49;
  border-radius: 10px;
  position: relative;
}

.achievements__progress {
  height: 100%;
  background: #4384ff;
  border-radius: 10px;
}

.achievements__progress-one {
  width: 100%;
}

.achievements__progress-two {
  width: 75%;
}

.achievements__progress-three {
  width: 50%;
}

.achievements__progress-four {
  width: 25%;
}

.achievements__progress-five {
  width: 0%;
}

.achievements__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 25%;
  left: 65px;
}

.achievements__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

.achievements__numbers {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

@media (max-width: 1200px) {
  .personal-card__discription {
    padding: 50px 10px 30px 10px;
  }
  .personal-card__progressbar {
    width: 214px;
  }
  .personal-blocks-title {
    margin-top: 0px;
  }
  .personal__stat-name {
    font-size: 17px;
  }
  .statistic__name {
    margin-bottom: 0px;
  }
  .bets__event-name {
    max-width: 23vw;
  }
}

@media (max-width: 992px) {
  .personal__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .personal__title {
    margin-top: 70px;
    margin-bottom: 35px;
  }
  .personal__card-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .personal-blocks {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .personal-card {
    margin-bottom: 15px;
  }
  .personal-card__discription {
    padding: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .personal-card__content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .personal-card__text-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .personal-card__img {
    margin-right: 20px;
  }
  .personal-blocks-title {
    margin-bottom: 35px;
  }
  .statistic {
    margin-bottom: 20px;
  }
  .statistic__item-wrapper {
    padding: 15px;
  }
  .bets__event-name {
    max-width: 37vw;
  }
  .bets__item {
    padding: 15px;
  }
  .bets__result {
    margin-right: 0px;
  }
  .bets__teams-wrapper {
    padding-left: 15px;
  }
}

@media (max-width: 576px) {
  .personal-card__img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  .personal-card__login {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
  }
  .personal-card__link {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 20px;
  }
  .personal-card__lvl {
    font-size: 13px;
    line-height: 16px;
  }
  .personal-card__exp-wrapper {
    margin-bottom: 5px;
  }
  .personal-card__exp {
    font-size: 13px;
    line-height: 15px;
  }
  .personal-card__progressbar {
    width: 153px;
  }
  .personal-card__customization {
    font-size: 13px;
    line-height: 16px;
    padding: 12px;
  }
  .personal-card__list {
    margin-bottom: 20px;
  }
  .personal-card__discription {
    padding: 20px;
  }
  .personal-card__item {
    padding: 16px;
  }
  .personal__stat-name {
    font-size: 13px;
    line-height: 15px;
  }
  .personal__stat {
    font-size: 13px;
    line-height: 15px;
  }
  .personal__card-wrapper {
    padding: 0;
  }
  .personal__container {
    margin: 0;
  }
  .personal__title {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .personal-blocks {
    padding: 0;
  }
  .statistic {
    padding: 25px 20px 25px 20px;
  }
  .statistic__numbers {
    font-size: 13px;
    line-height: 16px;
  }
  .statistic__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% / 2);
            flex: 0 1 calc(100% / 2);
    margin-bottom: 10px;
  }
  .statistic__item-wrapper {
    padding: 10px;
  }
  .personal-blocks-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .bets {
    padding: 20px;
  }
  .bets__team {
    width: 20px;
    height: 20px;
  }
  .bets__link {
    line-height: 16px;
    font-size: 13px;
  }
  .bets__event-time {
    line-height: 16px;
    font-size: 13px;
  }
  .bets__process {
    line-height: 16px;
    font-size: 13px;
  }
  .bets__result {
    line-height: 16px;
    font-size: 13px;
    min-width: 0;
    max-width: 55px;
  }
  .bets__teams-wrapper {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-right: 10px;
  }
  .bets__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bets__event-name {
    margin-right: 10px;
  }
  .bets__coins {
    line-height: 16px;
    font-size: 13px;
    background-size: 13px;
    max-width: 55px;
  }
  .bets__result-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
  .achievements {
    padding: 20px;
  }
  .achievements__text {
    line-height: 16px;
    font-size: 13px;
  }
  .achievements__numbers {
    line-height: 16px;
    font-size: 13px;
  }
  .achievements__pogress-wrapper {
    height: 65px;
  }
  .achievements__item::before {
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  .achievements__item_done:after {
    width: 14px;
    height: 14px;
    background-size: contain;
  }
  .achievements__item:nth-child(3) {
    display: none;
  }
  .achievements__list {
    margin: 0;
  }
  .personal-blocks {
    margin-bottom: 60px;
  }
}
